<div class="card mb-3 ps-0 w-100">
    <div class="d-flex">
        <div id="carousel-{{ i }}" class="carousel slide w-100 rounded-start overflow-hidden">
            <div class="carousel-inner">
                {% for image in item.images %}
                <div class="carousel-item {% if loop.first %} active{% endif %}" {% if not loop.first %} loading="lazy"
                    {% endif %}>
                    <img class="d-block w-100" src=" {{ image }}" alt="">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ i }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ i }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="col-md-8">
            <div class="card-body p-4">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.desc_md|safe }}</p>
                <a href="{{ item.buy }}" class="btn btn-primary ms-md-auto">Buy</a>
            </div>
        </div>
    </div>
</div>