{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/custom.css">
<script src="static/countdown.js"></script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<script>
    var startDate = new Date("{{ shop.start }}");
    var endDate = new Date("{{ shop.end }}");
    var preview = {% if shop.preview %} true {% else %} false {% endif %};
</script>

<div class="m-4">
    {{ shop.intro_md|safe }}

    {% set index = namespace(value=0) %}
    <div class="while-closed mb-3">
        We'll be opening the shop soon. In the mean time, enjoy the preview!
    </div>
    <div class="accordion while-open" id="main-accordion">
        {% for category in shop.categories %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button fs-2 {% if not loop.first %}collapsed{% endif %}" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{ index.value }}"
                    aria-expanded="{% if loop.first %}true{% else %}false{% endif %}"
                    aria-controls="collapse{{ index.value }}">
                    {{ category.name }}
                </button>
            </h2>
            <div id="collapse{{ index.value }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}">
                <div class="accordion-body">
                    {% for item in category.items %}
                    {% with item=item, i=index.value %}
                    {% include 'card.html' %}
                    {% endwith %}
                    {% set index.value = index.value + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}